body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    font-size: 18px;
    border: 1px solid;
    margin-top: 70px;
    padding: 30px;
}
section{
    color: forestgreen;
    border-style: double;
    padding: 20px;
}
/*
li{
    border-style: dashed;
    border-color: blue;
    border-top-width: 2px;
    border-left-color: red;
    padding: 10px;
    color: black;
}
*/
.PAR-GRANDE{
    box-sizing: border-box;
    margin: 0px 50px;
    border: 10px solid yellow;
    padding: 50px;
    margin-left: 400px;
    display: inline-block;
}
.BOLD{
    margin: 50px 30px;
}