body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: red;
  border: 3px solid black;
  margin-top: 20px;
  padding: 30px 20px 10px 5px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
}

section {
  color: forestgreen;
}

strong {
  display: inline-block;
}

li {
  color: black;
}

.par-grande {
  box-sizing: border-box;
  height: 60px;
  width: 500px;
  padding: 0px 30px;
  margin: 0px auto;
  border: 10px solid yellow;
  margin-left: -700px;
}
.car-img {
  margin: 30px;
}
